<div class="row">
    <div class="w-100 m-0 p-0 text-center">
        <h5 class="text-success">
            Void Transactions
        </h5>
    </div>
</div>
<div class="row my-1">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12" *ngIf="screenWidth > 500">
        <form novalidate #authForm="ngForm">
            <table table-xs border="0">
                <tr>
                    <th class="text-success">
                        Period
                    </th>
                    <td (click)="setPeriod('')">
                        <input #name="ngModel" name="startDate" type="datetime-local" class="form-control form-control-sm form-control-x px-0 mx-0" style="max-width: 200px;"
                        [(ngModel)]="startDate" required />
                    </td>
                    <td (click)="setPeriod('')">
                        <input #name="ngModel" name="endDate" type="datetime-local" class="form-control form-control-sm form-control-xs px-0 mx-0" style="max-width: 200px;"
                        [(ngModel)]="endDate" required />
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm btn-xs" [disabled]="authForm.invalid" (click)="getVoidTransactions()">GET</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>    
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12" *ngIf="screenWidth <= 500">
        <form novalidate #authForm="ngForm">
            <table table-xs border="0">
                <tr>
                    <th class="text-success">
                        Start Date
                    </th>
                    <td (click)="setPeriod('')">
                        <input #name="ngModel" name="startDate" type="datetime-local" class="form-control form-control-sm form-control-x px-0 mx-0" style="max-width: 200px;"
                        [(ngModel)]="startDate" required />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <th class="text-success">
                        End Date
                    </th>
                    <td (click)="setPeriod('')">
                        <input #name="ngModel" name="endDate" type="datetime-local" class="form-control form-control-sm form-control-xs px-0 mx-0" style="max-width: 200px;"
                        [(ngModel)]="endDate" required />
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm btn-xs" [disabled]="authForm.invalid" (click)="getVoidTransactions()">GET</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>    
</div>
<div class="row my-1">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
        <div class="pull-right">
            <div class="btn-group btn-group-justified">
                <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='Today'}"
                    (click)="setPeriod('Today')">
                    Today
                </button>
                <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='Yesterday'}"
                    (click)="setPeriod('Yesterday')">
                    Yesterday
                </button>
                <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='This Week'}"
                    (click)="setPeriod('This Week')">
                    This Week
                </button>
                <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='Last Week'}"
                    (click)="setPeriod('Last Week')">
                    Last Week
                </button>
            </div>
            <div class="btn-group btn-group-justified">
                <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='This Month'}"
                    (click)="setPeriod('This Month')">
                    This Month
                </button>
                <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='Last Month'}"
                    (click)="setPeriod('Last Month')">
                    Last Month
                </button>
                <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='This Quarter'}"
                    (click)="setPeriod('This Quarter')">
                    This Quarter
                </button>
                <button type="button" class="btn btn-sm btn-primary" [ngClass]="{'active':period=='Last Quarter'}"
                    (click)="setPeriod('Last Quarter')">
                    Last Quarter
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="screenWidth > 500">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
        <div *ngIf="voidTransHeaders !== null">
                <table class="table table-xs table-striped">
                        <thead class="m-0 p-0 bg-info text-white">
                            <tr class="m-0 p-0">
                                <th class="m-0 p-0 pl-1">End Time</th>
                                <th class="m-0 p-0 pl-1">Trns</th>
                                <th class="m-0 p-0 text-center">Srv</th>
                                <th class="m-0 p-0 text-center">Till</th>
                                <th class="m-0 p-0 text-center">Tbl</th>
                                <th class="m-0 p-0 text-right">No of Items</th>
                                <th class="m-0 p-0 text-right">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let line of voidTransHeaders" class="m-0 p-0" [ngClass]="{'text-danger': line.voidd === 1}">
                                <ng-template [ngIf]="!isVoidSelectedHeader(line)" [ngIfElse]="transLines">
                                    <td class="m-0 p-0 pl-1">{{line.dateTimeEnd.replace('T',' ')}}</td>
                                    <td class="m-0 p-0 pl-1"(click)="selectVoidHeader(line)">{{line.trnNo}}
                                        <i class="fa fa-angle-down"></i>
                                    </td>
                                    <td class="m-0 p-0 text-center">{{line.srvNo}}</td>
                                    <td class="m-0 p-0 text-center">{{line.till}}</td>
                                    <td class="m-0 p-0 text-center">{{line.tblNo}}</td>
                                    <td class="m-0 p-0 text-right">{{line.nitems}}</td>
                                    <td class="m-0 p-0 text-right">{{line.totValue.toFixed(2)}}</td>
                                </ng-template>
                            </tr>
                        </tbody>
                </table>
                <ng-template #transLines>
                    <td colspan="7" >
                        <span class="badge badge-secondary">{{voidSelectedHeader.trnNo}}</span>
                        <span class="badge badge-pill badge-dark">{{voidSelectedHeader.nitems}}</span>
                        <span class="badge badge-pill badge-info">{{voidSelectedHeader.totValue.toFixed(2)}}</span>
                        <table class="table table-xs table-striped my-0 py-0">
                                <thead class="m-0 p-0 bg-secondary text-white">
                                    <tr class="m-0 p-0" (click)="setVoidSelectedHeaderNull()">
                                        <th class="m-0 p-0 pl-1">
                                            Description
                                            <i class="fa fa-angle-up"></i>
                                        </th>
                                        <th class="m-0 p-0 text-right">
                                            Qty
                                            <i class="fa fa-angle-up"></i>
                                        </th>
                                        <th class="m-0 p-0 text-right">
                                            Price
                                            <i class="fa fa-angle-up"></i>
                                        </th>
                                        <th class="m-0 p-0 text-right">
                                            Total
                                            <i class="fa fa-angle-up"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let line of voidTransItems" class="m-0 p-0"  
                                    [ngClass]="{'text-danger': line.voidd === 1,'bg-danger text-white': line.refund === 1}">
                                        <td class="m-0 p-0 pl-1">{{line.description}}</td>
                                        <td class="m-0 p-0 text-right">{{line.qty0}}</td>
                                        <td class="m-0 p-0 text-right">{{(line.price/line.qty0).toFixed(2)}}</td>
                                        <td class="m-0 p-0 text-right">{{line.price.toFixed(2)}}</td>
                                    </tr>
                                </tbody>
                        </table>
                        <table class="table table-xs table-striped my-0 py-0">
                                <thead class="m-0 p-0 bg-secondary text-white">
                                    <tr class="m-0 p-0">
                                        <th class="m-0 p-0 pl-1">
                                            Pym No
                                        </th>
                                        <th class="m-0 p-0 pl-1">
                                            Pym Type
                                        </th>
                                        <th class="m-0 p-0 text-right">
                                            Amount
                                        </th>
                                        <th class="m-0 p-0 text-right">
                                            Paid
                                        </th>
                                        <th class="m-0 p-0 text-right">
                                            Change
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let line of voidTransPayments" class="m-0 p-0"  [ngClass]="{'text-danger': line.voidd === 1}">
                                        <td class="m-0 p-0 pl-1">{{line.pymNo}}</td>
                                        <td class="m-0 p-0 pl-1">{{line.pymtype}}</td>
                                        <td class="m-0 p-0 text-right">{{line.amnt.toFixed(2)}}</td>
                                        <td class="m-0 p-0 text-right">{{line.tndr.toFixed(2)}}</td>
                                        <td class="m-0 p-0 text-right">{{line.chng.toFixed(2)}}</td>
                                    </tr>
                                </tbody>
                        </table>
                    </td>
                </ng-template>
        </div>
    </div>
</div>
<div class="row" *ngIf="screenWidth <= 500">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
        <div *ngIf="voidTransHeaders !== null">
                <table class="table table-xs table-striped">
                        <thead class="m-0 p-0 bg-info text-white">
                            <tr class="m-0 p-0">
                                <th class="m-0 p-0 pl-1">End Time</th>
                                <th class="m-0 p-0 pl-1">Trns</th>
                                <th class="m-0 p-0 text-center">Srv</th>
                                <th class="m-0 p-0 text-center">Tbl</th>
                                <th class="m-0 p-0 text-right">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let line of voidTransHeaders" class="m-0 p-0" [ngClass]="{'text-danger': line.voidd === 1}">
                                <ng-template [ngIf]="!isVoidSelectedHeader(line)" [ngIfElse]="transLines">
                                    <td class="m-0 p-0 pl-1">{{line.dateTimeEnd.replace('T',' ')}}</td>
                                    <td class="m-0 p-0 pl-1"(click)="selectVoidHeader(line)">{{line.trnNo}}
                                        <i class="fa fa-angle-down"></i>
                                    </td>
                                    <td class="m-0 p-0 text-center">{{line.srvNo}}</td>
                                    <td class="m-0 p-0 text-center">{{line.tblNo}}</td>
                                    <td class="m-0 p-0 text-right">{{line.totValue.toFixed(2)}}</td>
                                </ng-template>
                            </tr>
                        </tbody>
                </table>
                <ng-template #transLines>
                    <td colspan="6" >
                        <span class="badge badge-secondary">{{voidSelectedHeader.trnNo}}</span>
                        <span class="badge badge-pill badge-dark">{{voidSelectedHeader.nitems}}</span>
                        <span class="badge badge-pill badge-info">{{voidSelectedHeader.totValue.toFixed(2)}}</span>
                        <table class="table table-xs table-striped my-0 py-0">
                                <thead class="m-0 p-0 bg-secondary text-white">
                                    <tr class="m-0 p-0"  (click)="setVoidSelectedHeaderNull()">
                                        <th class="m-0 p-0 pl-1">
                                            Description
                                            <i class="fa fa-angle-up"></i>
                                        </th>
                                        <th class="m-0 p-0 text-right">
                                            Qty
                                            <i class="fa fa-angle-up"></i>
                                        </th>
                                        <th class="m-0 p-0 text-right">
                                            Price
                                            <i class="fa fa-angle-up"></i>
                                        </th>
                                        <th class="m-0 p-0 text-right">
                                            Total
                                            <i class="fa fa-angle-up"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let line of voidTransItems" class="m-0 p-0"  
                                    [ngClass]="{'text-danger': line.voidd === 1,'bg-danger text-white': line.refund === 1}">
                                        <td class="m-0 p-0 pl-1">{{line.description}}</td>
                                        <td class="m-0 p-0 text-right">{{line.qty0}}</td>
                                        <td class="m-0 p-0 text-right">{{(line.price/line.qty0).toFixed(2)}}</td>
                                        <td class="m-0 p-0 text-right">{{line.price.toFixed(2)}}</td>
                                    </tr>
                                </tbody>
                        </table>
                        <table class="table table-xs table-striped my-0 py-0">
                                <thead class="m-0 p-0 bg-secondary text-white">
                                    <tr class="m-0 p-0">
                                        <th class="m-0 p-0 pl-1">
                                            Pym No
                                        </th>
                                        <th class="m-0 p-0 pl-1">
                                            Pym Type
                                        </th>
                                        <th class="m-0 p-0 text-right">
                                            Amount
                                        </th>
                                        <th class="m-0 p-0 text-right">
                                            Paid
                                        </th>
                                        <th class="m-0 p-0 text-right">
                                            Change
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let line of voidTransPayments" class="m-0 p-0"  [ngClass]="{'text-danger': line.voidd === 1}">
                                        <td class="m-0 p-0 pl-1">{{line.pymNo}}</td>
                                        <td class="m-0 p-0 pl-1">{{line.pymtype}}</td>
                                        <td class="m-0 p-0 text-right">{{line.amnt.toFixed(2)}}</td>
                                        <td class="m-0 p-0 text-right">{{line.tndr.toFixed(2)}}</td>
                                        <td class="m-0 p-0 text-right">{{line.chng.toFixed(2)}}</td>
                                    </tr>
                                </tbody>
                        </table>
                    </td>
                </ng-template>
        </div>
    </div>
</div>
<div class="row m-0 p-0">
    <div class="col-sm-12 col-lg-6 col-md-6 col-xs-12 m-0 p-0">
        <div class="input-group input-group-sm  m-0 p-0">
            <select class="border border-primary" [(ngModel)]="linesPerPage">
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
            <div class="input-group-append">
                <span class="border border-primary input-group-text">lines / page</span>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6 col-xs-12 m-0 p-0">
        <div class="pull-right">
            <div class="input-group input-group-sm m-0 p-o">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary btn-sm" type="button" (click)="first()">
                            <i class="fa fa-lg fa-caret-left"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm" type="button" (click)="previous()">
                        <i class="fa fa-lg fa-angle-left"></i>
                    </button>
                    <input class="border border-primary m-0 p-0" type="number" style="max-width: 40px;text-align: center" [(ngModel)]="pageNumber"/>
                    <span class="border border-primary input-group-text">/</span>
                    <span class="border border-primary input-group-text">{{noOfPages}}</span>
                    <button class="btn btn-outline-primary btn-sm" type="button" (click)="next()">
                        <i class="fa fa-lg fa-angle-right"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm" type="button" (click)="last()">
                            <i class="fa fa-lg fa-caret-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>